# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyd
*.so


# -------------------------
# Entornos virtuales
# -------------------------
venv/
env/
.venv/

# -------------------------
# Variables de entorno
# -------------------------

.env.*
.env
secrets.json

# -------------------------
# Claves y certificados
# -------------------------
*.key
*.pem
*.crt
*.pfx
*.p12

# -------------------------
# Django
# -------------------------
*.log
*.pot
local_settings.py

# Archivos generados por collectstatic y media

fotos/

# PERO NO ignorar los estáticos propios del proyecto
!web/static/
!web/static/css/
!web/static/img/
!web/static/vendor/
!web/static/**

# -------------------------
# Node
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# IDEs y editores
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# Archivos del sistema operativo
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Archivos sueltos detectados
# -------------------------
suazapawa/__pycache__/settings.cpython-313.pyc
web/__pycache__/forms.cpython-313.pyc
web/__pycache__/views.cpython-313.pyc
